body{
        background-color: #A4907C;
    }
    hr{
        background-color: white;
        border-style: dotted none none ;
        border-color: #000;
        border-width: 5px;
        width: 5%;
    }
    h1, h2,  h3{
        color: #F1DEC9;
    }